:root {
  --colorPrimary: #1668DC;
  --colorSuccess: #49AA19;
  --colorWarning: #D89614;
  --colorError: #DC4446;
  --colorInfo: #1668DC;
  --colorTextBase: #FFF;
  --colorBgBase: #000;

  --blue-1: #111A2C;
  --blue-2: #112545;
  --blue-3: #15325B;
  --blue-4: #15417E;
  --blue-5: #1554AD;
  --blue-6: #1668DC;
  --blue-7: #3C89E8;
  --blue-8: #65A9F3;
  --blue-9: #8DC5F8;
  --blue-10: #B7DCFA;
  --purple-1: #1A1325;
  --purple-2: #24163A;
  --purple-3: #301C4D;
  --purple-4: #3E2069;
  --purple-5: #51258F;
  --purple-6: #642AB5;
  --purple-7: #854ECA;
  --purple-8: #AB7AE0;
  --purple-9: #CDA8F0;
  --purple-10: #EBD7FA;
  --cyan-1: #112123;
  --cyan-2: #113536;
  --cyan-3: #144848;
  --cyan-4: #146262;
  --cyan-5: #138585;
  --cyan-6: #13A8A8;
  --cyan-7: #33BCB7;
  --cyan-8: #58D1C9;
  --cyan-9: #84E2D8;
  --cyan-10: #B2F1E8;
  --green-1: #162312;
  --green-2: #1D3712;
  --green-3: #274916;
  --green-4: #306317;
  --green-5: #3C8618;
  --green-6: #49AA19;
  --green-7: #6ABE39;
  --green-8: #8FD460;
  --green-9: #B2E58B;
  --green-10: #D5F2BB;
  --magenta-1: #291321;
  --magenta-2: #40162F;
  --magenta-3: #551C3B;
  --magenta-4: #75204F;
  --magenta-5: #A02669;
  --magenta-6: #CB2B83;
  --magenta-7: #E0529C;
  --magenta-8: #F37FB7;
  --magenta-9: #F8A8CC;
  --magenta-10: #FAD2E3;
  --pink-1: #291321;
  --pink-2: #40162F;
  --pink-3: #551C3B;
  --pink-4: #75204F;
  --pink-5: #A02669;
  --pink-6: #CB2B83;
  --pink-7: #E0529C;
  --pink-8: #F37FB7;
  --pink-9: #F8A8CC;
  --pink-10: #FAD2E3;
  --red-1: #2A1215;
  --red-2: #431418;
  --red-3: #58181C;
  --red-4: #791A1F;
  --red-5: #A61D24;
  --red-6: #D32029;
  --red-7: #E84749;
  --red-8: #F37370;
  --red-9: #F89F9A;
  --red-10: #FAC8C3;
  --orange-1: #2B1D11;
  --orange-2: #442A11;
  --orange-3: #593815;
  --orange-4: #7C4A15;
  --orange-5: #AA6215;
  --orange-6: #D87A16;
  --orange-7: #E89A3C;
  --orange-8: #F3B765;
  --orange-9: #F8CF8D;
  --orange-10: #FAE3B7;
  --yellow-1: #2B2611;
  --yellow-2: #443B11;
  --yellow-3: #595014;
  --yellow-4: #7C6E14;
  --yellow-5: #AA9514;
  --yellow-6: #D8BD14;
  --yellow-7: #E8D639;
  --yellow-8: #F3EA62;
  --yellow-9: #F8F48B;
  --yellow-10: #FAFAB5;
  --volcano-1: #2B1611;
  --volcano-2: #441D12;
  --volcano-3: #592716;
  --volcano-4: #7C3118;
  --volcano-5: #AA3E19;
  --volcano-6: #D84A1B;
  --volcano-7: #E87040;
  --volcano-8: #F3956A;
  --volcano-9: #F8B692;
  --volcano-10: #FAD4BC;
  --geekblue-1: #131629;
  --geekblue-2: #161D40;
  --geekblue-3: #1C2755;
  --geekblue-4: #203175;
  --geekblue-5: #263EA0;
  --geekblue-6: #2B4ACB;
  --geekblue-7: #5273E0;
  --geekblue-8: #7F9EF3;
  --geekblue-9: #A8C1F8;
  --geekblue-10: #D2E0FA;
  --gold-1: #2B2111;
  --gold-2: #443111;
  --gold-3: #594214;
  --gold-4: #7C5914;
  --gold-5: #AA7714;
  --gold-6: #D89614;
  --gold-7: #E8B339;
  --gold-8: #F3CC62;
  --gold-9: #F8DF8B;
  --gold-10: #FAEDB5;
  --lime-1: #1F2611;
  --lime-2: #2E3C10;
  --lime-3: #3E4F13;
  --lime-4: #536D13;
  --lime-5: #6F9412;
  --lime-6: #8BBB11;
  --lime-7: #A9D134;
  --lime-8: #C9E75D;
  --lime-9: #E4F88B;
  --lime-10: #F0FAB5;

  --colorText: rgba(255, 255, 255, 0.85);
  --colorTextSecondary: rgba(255, 255, 255, 0.65);
  --colorTextTertiary: rgba(255, 255, 255, 0.45);
  --colorTextQuaternary: rgba(255, 255, 255, 0.25);
  --colorFill: rgba(255, 255, 255, 0.18);
  --colorFillSecondary: rgba(255, 255, 255, 0.12);
  --colorFillTertiary: rgba(255, 255, 255, 0.08);
  --colorFillQuaternary: rgba(255, 255, 255, 0.04);
  --colorBgLayout: #000000;
  --colorBgContainer: #141414;
  --colorBgElevated: #1F1F1F;
  --colorBgSpotlight: #424242;
  --colorBorder: #424242;
  --colorBorderSecondary: #303030;
  --colorPrimaryBg: #111A2C;
  --colorPrimaryBgHover: #112545;
  --colorPrimaryBorder: #15325B;
  --colorPrimaryBorderHover: #15417E;
  --colorPrimaryHover: #3C89E8;
  --colorPrimaryActive: #1554AD;
  --colorPrimaryTextHover: #3C89E8;
  --colorPrimaryText: #1668DC;
  --colorPrimaryTextActive: #1554AD;
  --colorSuccessBg: #162312;
  --colorSuccessBgHover: #1D3712;
  --colorSuccessBorder: #274916;
  --colorSuccessBorderHover: #306317;
  --colorSuccessHover: #306317;
  --colorSuccessActive: #3C8618;
  --colorSuccessTextHover: #6ABE39;
  --colorSuccessText: #49AA19;
  --colorSuccessTextActive: #3C8618;
  --colorErrorBg: #2C1618;
  --colorErrorBgHover: #451D1F;
  --colorErrorBorder: #5B2526;
  --colorErrorBorderHover: #7E2E2F;
  --colorErrorHover: #E86E6B;
  --colorErrorActive: #AD393A;
  --colorErrorTextHover: #E86E6B;
  --colorErrorText: #DC4446;
  --colorErrorTextActive: #AD393A;
  --colorWarningBg: #2B2111;
  --colorWarningBgHover: #443111;
  --colorWarningBorder: #594214;
  --colorWarningBorderHover: #7C5914;
  --colorWarningHover: #7C5914;
  --colorWarningActive: #AA7714;
  --colorWarningTextHover: #E8B339;
  --colorWarningText: #D89614;
  --colorWarningTextActive: #AA7714;
  --colorInfoBg: #111A2C;
  --colorInfoBgHover: #112545;
  --colorInfoBorder: #15325B;
  --colorInfoBorderHover: #15417E;
  --colorInfoHover: #15417E;
  --colorInfoActive: #1554AD;
  --colorInfoTextHover: #3C89E8;
  --colorInfoText: #1668DC;
  --colorInfoTextActive: #1554AD;

  /* 扩展 */
  /* Antdv 表格行背景色 */
  --tableTrBg: #141414;
  --tableTrStripedBg: #1B1B1B;

  /* input 自动完成背景填充色 */
  --colorWebkitAutofillBg: rgba(70, 90, 126, 0.4)
}

/* 针对 Safari 浏览器的自动完成背景填充色 */
.safari {
  --colorWebkitAutofillBg: rgb(250, 255, 189);
}
