:root {
  --colorPrimary: #1677FF;
  --colorSuccess: #52C41A;
  --colorWarning: #FAAD14;
  --colorError: #FF4D4F;
  --colorInfo: #1677FF;
  --colorTextBase: #000;
  --colorBgBase: #FFF;

  --blue-1: #E6F4FF;
  --blue-2: #BAE0FF;
  --blue-3: #91CAFF;
  --blue-4: #69B1FF;
  --blue-5: #4096FF;
  --blue-6: #1677FF;
  --blue-7: #0958D9;
  --blue-8: #003EB3;
  --blue-9: #002C8C;
  --blue-10: #001D66;
  --purple-1: #F9F0FF;
  --purple-2: #EFDBFF;
  --purple-3: #D3ADF7;
  --purple-4: #B37FEB;
  --purple-5: #9254DE;
  --purple-6: #722ED1;
  --purple-7: #531DAB;
  --purple-8: #391085;
  --purple-9: #22075E;
  --purple-10: #120338;
  --cyan-1: #E6FFFB;
  --cyan-2: #B5F5EC;
  --cyan-3: #87E8DE;
  --cyan-4: #5CDBD3;
  --cyan-5: #36CFC9;
  --cyan-6: #13C2C2;
  --cyan-7: #08979C;
  --cyan-8: #006D75;
  --cyan-9: #00474F;
  --cyan-10: #002329;
  --green-1: #F6FFED;
  --green-2: #D9F7BE;
  --green-3: #B7EB8F;
  --green-4: #95DE64;
  --green-5: #73D13D;
  --green-6: #52C41A;
  --green-7: #389E0D;
  --green-8: #237804;
  --green-9: #135200;
  --green-10: #092B00;
  --magenta-1: #FFF0F6;
  --magenta-2: #FFD6E7;
  --magenta-3: #FFADD2;
  --magenta-4: #FF85C0;
  --magenta-5: #F759AB;
  --magenta-6: #EB2F96;
  --magenta-7: #C41D7F;
  --magenta-8: #9E1068;
  --magenta-9: #780650;
  --magenta-10: #520339;
  --pink-1: #FFF0F6;
  --pink-2: #FFD6E7;
  --pink-3: #FFADD2;
  --pink-4: #FF85C0;
  --pink-5: #F759AB;
  --pink-6: #EB2F96;
  --pink-7: #C41D7F;
  --pink-8: #9E1068;
  --pink-9: #780650;
  --pink-10: #520339;
  --red-1: #FFF1F0;
  --red-2: #FFCCC7;
  --red-3: #FFA39E;
  --red-4: #FF7875;
  --red-5: #FF4D4F;
  --red-6: #F5222D;
  --red-7: #CF1322;
  --red-8: #A8071A;
  --red-9: #820014;
  --red-10: #5C0011;
  --orange-1: #FFF7E6;
  --orange-2: #FFE7BA;
  --orange-3: #FFD591;
  --orange-4: #FFC069;
  --orange-5: #FFA940;
  --orange-6: #FA8C16;
  --orange-7: #D46B08;
  --orange-8: #AD4E00;
  --orange-9: #873800;
  --orange-10: #612500;
  --yellow-1: #FEFFE6;
  --yellow-2: #FFFFB8;
  --yellow-3: #FFFB8F;
  --yellow-4: #FFF566;
  --yellow-5: #FFEC3D;
  --yellow-6: #FADB14;
  --yellow-7: #D4B106;
  --yellow-8: #AD8B00;
  --yellow-9: #876800;
  --yellow-10: #614700;
  --volcano-1: #FFF2E8;
  --volcano-2: #FFD8BF;
  --volcano-3: #FFBB96;
  --volcano-4: #FF9C6E;
  --volcano-5: #FF7A45;
  --volcano-6: #FA541C;
  --volcano-7: #D4380D;
  --volcano-8: #AD2102;
  --volcano-9: #871400;
  --volcano-10: #610B00;
  --geekblue-1: #F0F5FF;
  --geekblue-2: #D6E4FF;
  --geekblue-3: #ADC6FF;
  --geekblue-4: #85A5FF;
  --geekblue-5: #597EF7;
  --geekblue-6: #2F54EB;
  --geekblue-7: #1D39C4;
  --geekblue-8: #10239E;
  --geekblue-9: #061178;
  --geekblue-10: #030852;
  --gold-1: #FFFBE6;
  --gold-2: #FFF1B8;
  --gold-3: #FFE58F;
  --gold-4: #FFD666;
  --gold-5: #FFC53D;
  --gold-6: #FAAD14;
  --gold-7: #D48806;
  --gold-8: #AD6800;
  --gold-9: #874D00;
  --gold-10: #613400;
  --lime-1: #FCFFE6;
  --lime-2: #F4FFB8;
  --lime-3: #EAFF8F;
  --lime-4: #D3F261;
  --lime-5: #BAE637;
  --lime-6: #A0D911;
  --lime-7: #7CB305;
  --lime-8: #5B8C00;
  --lime-9: #3F6600;
  --lime-10: #254000;

  --colorText: rgba(0, 0, 0, 0.88);
  --colorTextSecondary: rgba(0, 0, 0, 0.65);
  --colorTextTertiary: rgba(0, 0, 0, 0.45);
  --colorTextQuaternary: rgba(0, 0, 0, 0.25);
  --colorFill: rgba(0, 0, 0, 0.15);
  --colorFillSecondary: rgba(0, 0, 0, 0.06);
  --colorFillTertiary: rgba(0, 0, 0, 0.04);
  --colorFillQuaternary: rgba(0, 0, 0, 0.02);
  --colorBgLayout: #F5F5F5;
  --colorBgContainer: #FFFFFF;
  --colorBgElevated: #FFFFFF;
  --colorBgSpotlight: rgba(0, 0, 0, 0.85);
  --colorBorder: #D9D9D9;
  --colorBorderSecondary: #F0F0F0;
  --colorPrimaryBg: #E6F4FF;
  --colorPrimaryBgHover: #BAE0FF;
  --colorPrimaryBorder: #91CAFF;
  --colorPrimaryBorderHover: #69B1FF;
  --colorPrimaryHover: #4096FF;
  --colorPrimaryActive: #0958D9;
  --colorPrimaryTextHover: #4096FF;
  --colorPrimaryText: #1677FF;
  --colorPrimaryTextActive: #0958D9;
  --colorSuccessBg: #F6FFED;
  --colorSuccessBgHover: #D9F7BE;
  --colorSuccessBorder: #B7EB8F;
  --colorSuccessBorderHover: #95DE64;
  --colorSuccessHover: #95DE64;
  --colorSuccessActive: #389E0D;
  --colorSuccessTextHover: #73D13D;
  --colorSuccessText: #52C41A;
  --colorSuccessTextActive: #389E0D;
  --colorErrorBg: #FFF2F0;
  --colorErrorBgHover: #FFF1F0;
  --colorErrorBorder: #FFCCC7;
  --colorErrorBorderHover: #FFA39E;
  --colorErrorHover: #FF7875;
  --colorErrorActive: #D9363E;
  --colorErrorTextHover: #FF7875;
  --colorErrorText: #FF4D4F;
  --colorErrorTextActive: #D9363E;
  --colorWarningBg: #FFFBE6;
  --colorWarningBgHover: #FFF1B8;
  --colorWarningBorder: #FFE58F;
  --colorWarningBorderHover: #FFD666;
  --colorWarningHover: #FFD666;
  --colorWarningActive: #D48806;
  --colorWarningTextHover: #FFC53D;
  --colorWarningText: #FAAD14;
  --colorWarningTextActive: #D48806;
  --colorInfoBg: #E6F4FF;
  --colorInfoBgHover: #BAE0FF;
  --colorInfoBorder: #91CAFF;
  --colorInfoBorderHover: #69B1FF;
  --colorInfoHover: #69B1FF;
  --colorInfoActive: #0958D9;
  --colorInfoTextHover: #4096FF;
  --colorInfoText: #1677FF;
  --colorInfoTextActive: #0958D9;

  /* 扩展 */
  /* Antdv 表格行背景色 */
  --tableTrBg: #FFFFFF;
  --tableTrStripedBg: #F8F8F8;

  /* input 自动完成背景填充色 */
  --colorWebkitAutofillBg: rgb(232, 240, 254)
}

/* 针对 Safari 浏览器的自动完成背景填充色 */
.safari {
  --colorWebkitAutofillBg: rgb(250, 255, 189);
}
